[tool.poetry]
name = "kalyke-apns"
version = "0.2.1"
description = "A library for interacting with APNs and VoIP using HTTP/2."
authors = ["Yuya Oka <nnsnodnb@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/nnsnodnb/kalyke"
keywords = ["apns", "voip", "apns provider api", "apple push notifications"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]
packages = [
    { include = "kalyke" }
]

[tool.poetry.dependencies]
python = "^3.7"
httpx = {extras = ["http2"], version = "^0.23.1"}
PyJWT = "^2.6.0"
cryptography = "^39.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.1"
black = "^22.8.0"
isort = "^5.10.1"
flake8 = "^5.0.4"
mypy = "^0.971"
pytest-cov = "^4.0.0"
coveralls = "^3.3.1"
pytest-httpx = "^0.21.2"
pytest-asyncio = "^0.20.3"

[build-system]
requires = ["poetry-core>=1.4.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
(
    /(
         \.git
        |\.github
        |\.mypy_cache
        |\.pytest_cache
    )/
)
'''

[tool.isort]
include_trailing_comma = true
line_length = 120
multi_line_output = 3
