[tool.poetry]
name = "kalyke-apns"
version = "0.1.3"
description = "A library for interacting with APNs and VoIP using HTTP/2."
authors = ["Yuya Oka <nnsnodnb@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/nnsnodnb/kalyke"
keywords = ["apns", "voip", "apns provider api", "push notifications"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8"
]
packages = [
    { include = "kalyke" }
]

[tool.poetry.dependencies]
python = "^3.6"
cryptography = "~2.6.1"
pyjwt = "~1.7.1"
hyper = "~0.7.0"

[tool.poetry.dev-dependencies]
ipython = "^7.0.0"
pytest = "^6.1.2"
coverage = "^5.3"
coveralls = "^2.1.2"
pytest-cov = "^2.10.1"
black = "^20.8b1"
isort = "^5.6.4"
flake8 = "^3.8.4"
mypy = "^0.790"

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
(
    /(
         \.git
        |\.github
        |\.mypy_cache
        |\.pytest_cache
    )/
)
'''

[tool.isort]
include_trailing_comma = true
line_length = 120
multi_line_output = 5

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
