name: Renovate

on:
  pull_request:
    paths:
      - .github/workflows/renovate.yml
      - renovate.json

jobs:
  renovate-json-validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027  # v2.0.0
